*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 66.6%; }

body {
  font-family: "Alata", sans-serif;
  color: white;
  font-weight: 300;
  line-height: 1.6; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__header {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    font-weight: 100;
    border: 0.3rem solid white;
    margin: 0 2.5rem;
    padding: 3rem 2.5rem;
    text-transform: uppercase;
    line-height: 3.9rem;
    word-break: keep-all;
    width: 100%; }
    .hero__header span {
      display: block; }

.about {
  height: 100vh;
  padding: 9rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .about img {
    width: 100%;
    height: 25rem; }
  .about__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    color: black;
    text-transform: uppercase;
    line-height: 3rem;
    padding-top: 3rem; }
  .about__text {
    padding: 1rem 4rem;
    color: dimgray;
    line-height: 2rem; }

.creations {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem repeat(9, 12rem);
  row-gap: 2rem;
  padding: 0 2rem; }
  .creations__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.2s linear; }
    .creations__overlay:hover {
      background-color: rgba(255, 255, 255, 0.493); }
  .creations__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    color: black;
    text-transform: uppercase;
    text-align: center; }
  .creations__card {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: color 0.2s linear; }
    .creations__card:hover .creations__card__text {
      color: black; }
    .creations__card__text {
      position: absolute;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.6rem;
      width: 9rem;
      color: white;
      text-transform: uppercase;
      z-index: 3;
      left: 1rem;
      bottom: 1rem;
      line-height: 1.8rem; }
    .creations__card img {
      background-size: cover;
      width: 100%;
      height: 100%; }
  .creations__button {
    text-align: center;
    align-self: start;
    grid-row: 10/10; }
    .creations__button button {
      background-color: transparent;
      border: 0.1rem solid black;
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      vertical-align: middle;
      padding: .8rem 3rem;
      letter-spacing: 0.3rem;
      cursor: pointer;
      transition: background-color, color 0.2s linear; }
      .creations__button button:hover {
        background-color: black;
        color: white; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; }
  .navigation__logo img {
    width: 15rem; }
  .navigation__mobile {
    flex-direction: column;
    padding: 3rem 2.5rem;
    display: none;
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
    overflow: hidden; }
    .navigation__mobile.active {
      display: flex; }
    .navigation__mobile__icons {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      justify-self: flex-start; }
      .navigation__mobile__icons img {
        width: 15rem; }
        .navigation__mobile__icons img#closeBtn {
          height: 2rem;
          width: 2rem;
          cursor: pointer; }
    .navigation__mobile ul {
      list-style: none;
      padding-top: 10rem; }
      .navigation__mobile ul li a {
        color: white;
        font-size: 2.5rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 100;
        position: relative; }
  .navigation #openBtn {
    cursor: pointer; }

.footer {
  background: black;
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column; }
  .footer__logo img {
    height: 1.8rem; }
  .footer__links {
    list-style: none;
    padding: 1rem 0; }
    .footer__links li {
      padding: 0.3rem 0; }
      .footer__links li a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 100;
        position: relative; }
  .footer__social {
    padding: 2rem 0; }
    .footer__social img {
      height: 2rem;
      width: 3rem;
      padding: 0 .5rem;
      position: relative;
      cursor: pointer; }
  .footer__credits {
    font-size: 1rem;
    color: #8c8c8c; }
    .footer__credits a {
      color: #8c8c8c; }

.animated-link:after {
  background: none repeat scroll 0 0 white;
  bottom: -0.5rem;
  content: "";
  display: block;
  height: 0.3rem;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0; }

.animated-link:hover:after {
  width: 100%;
  left: 0; }
