// COLOR VARIABLES
$color-white:  hsl(0, 0%, 100%);
$color-black:  hsl(0, 0%, 0%);
$color-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);

// FONT VARIABLES
$font-primary: 'Alata',
sans-serif;
$font-secondary: 'Josefin Sans',
sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-largest: 96em; // 1440px / 15px - base font size
$bp-small: 25em; // 375px / 15px - base font size


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 66.6%; // 1rem -> 10px ---> 10/15px = 0.6666
}

body {
    font-family: $font-primary;
    color: $color-white;
    font-weight: 300;
    line-height: 1.6;
}
