    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;

        &__logo{
            img{
                width: 15rem;
            }
        }

        // Mobile

        &__mobile{
            flex-direction: column;
            padding: 3rem 2.5rem;
            &.active{
                display: flex;
            }
            display: none;
            position: fixed;
            background: $color-black;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 15;
            overflow: hidden;

            &__icons{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                justify-self: flex-start;

                img {
                    width: 15rem;
                    &#closeBtn{
                        height: 2rem;
                        width: 2rem;
                        cursor: pointer;
                    }
                }
            }

            ul{
                list-style: none;
                padding-top: 10rem;
               li {
                   a {
                    color: $color-white;
                    font-size: 2.5rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 100;
                    position: relative;

               } }

            }


        }

        #openBtn{
            cursor: pointer;
        }

    }


.footer{
    background: $color-black;
    text-align: center;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;

    &__logo img{
        height: 1.8rem;
    }

    &__links{
        list-style: none;
        padding: 1rem 0;
        li{
            padding: 0.3rem 0;
            a{
                text-decoration: none;
                color: $color-white;
                font-size: 1.5rem;
                font-weight: 100;
                position: relative;
            }
        }
    }

    &__social{
        padding: 2rem 0;
        img{
            height: 2rem;
            width: 3rem;
            padding: 0 .5rem;
            position: relative;
            cursor: pointer;
        }
    }

    &__credits{
        font-size: 1rem;
        color: $color-gray;

        a{
            color: $color-gray;
        }
    }
}


.animated-link{
    &:after {    
        background: none repeat scroll 0 0 $color-white;
        bottom: -0.5rem;
        content: "";
        display: block;
        height: 0.3rem;
        left: 50%;
        position: absolute;
        background:$color-white;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after { 
        width: 100%; 
        left: 0; 
      }
}